.pane {
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-alignment: center;
}

.button {
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-background-color: black;
    -fx-text-fill: white;
}