#header {
    -fx-text-fill: white;
    -fx-background-color: black;
}

.scroll-pane {
    -fx-border-width: 0px;
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: white;
}

#new-button {
    -fx-background-color: black;
    -fx-background-radius: 35;
    -fx-border-radius: 35;
    -fx-text-fill: white;
    -fx-cursor: pointer;
}